.nav__right__side .nav-link {
  color: white;
}
.social__icons,
footer li,
footer .btn {
  cursor: pointer;
}
.social__icons ion-icon {
  margin-right: 5px;
  font-size: 30px;
  color: #818181;
}
.social__icons ion-icon:hover {
  color: #ffffff;
}
footer li {
  color: #818181;
  margin-block: 15px;
}
footer li:hover {
  color: #ffffff;
}
footer .btn {
  border: 1px solid #818181;
  text-decoration: none;
  color: #818181;
}
footer .btn:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.trademark__text {
  font-size: 10px;
}
.jumbotron,
h3 {
  color: #ffffff;
}
.jumbotron-btn {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.btn__div {
  display: flex;
  flex-direction: row-reverse;
}
.btn__edit1,
.btn__edit2 {
  font-size: 20px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #212529;
}
.carousel-inner {
  overflow: visible;
}
.carousel-control-prev,
.carousel-control-next {
  width: 20px;
}
.carousel-control-prev {
  display: none;
}
.card-cont {
  position: relative;
  transition: transform 0.5s;
}
.card {
  border-radius: none;
  background-color: #000000;
  color: #ffffff;
  transition: transform 0.5s, opacity 0.5s, height 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  position: absolute;
  top: 100%;
  z-index: 0;
}
.img-cont {
  transition: transform 0.5s;
}
.card-cont:hover .card {
  opacity: 1;
  height: auto;
  width: 100%;
  transform: scale(1.05);
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-cont:hover .img-cont {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}
#moviesContainerSearch {
  max-width: 100%;
  margin: 0 auto;
}
#moviesContainerSearch .card-cont {
  width: 25%;
  margin-inline: 10px;
}
#moviesContainerSearch .card-text {
  display: none;
}
.search-box {
  opacity: 0;
  width: 0%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: opacity 0.5s;
}
.search-box.show {
  opacity: 1;
}
.dropdown-menu {
  background-color: #000000;
}
.dropdown-menu .dropdown-item {
  color: #ffffff;
}
